
<footer class="footer_typesome">
	<div class="main_typesome">
	<ul>
		<li><span class="tooltip">RSS</span><a class="fa fa-rss" target="_blank" href="{{@blog.url}}/rss/"></a></li>
		<li><span class="tooltip">Twitter</span><a class="fa fa-twitter" href="https://twitter.com/Der_Hutt"></a></li>
		<li><span class="tooltip">Facebook</span><a class="fa fa-facebook" href="https://www.facebook.com/sanktionsfrei"></a></li>
	</ul>
		<hr />
		<p>Copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</p>
		<p>Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></p>
	</div>
</footer>
